body {
    background-color: rgb(214, 214, 214);
}

.header {
    background-color: rgb(228, 193, 149);
    border: 5px solid #722323;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr 1fr;
}

h1 {
    display: flex;
    justify-content: center;
    grid-area: 1/2/2/3;
}

h2 {
    display: flex;
    justify-content: center;
    grid-area: 2/2/3/3;
}

img {
    width: 400px;
}

.dices {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

button {
    background-color: #8A0000;
    width: 180px;
    height: 90px;
    border-radius: 10px;
    border-width: 1px;
    font-size: 2rem;
    color: white;
}

.btn {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

